body
{
	background-color: #110011;
	font-size: 24px;
	color: gray;
}
.numbers
{
	display: inline-block;
	width: 50px;
	height: 50px;
	color: lightgray;
	border: 2px solid lightgray;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	background-color: #550055;
	opacity: 70%;
	font-size: 40px;
	margin: 20px 30px;
}
.numbers:hover
{
	opacity: 100%;
}
.container
{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	
}
h1
{
	color: lightgray;
	font-size: 32px;
	text-align: justify;
	margin-bottom: 0;
}
#slider
{
	margin-bottom: 20px;
}
a
{
	text-decoration: none;
	color: #CCCCFF;
	cursor: pointer;
}
a:hover
{
	opacity: 0.7;
}
#przejscie
{
	text-align: center;
}
input[type=text]
{
	width: 400px;
	background-color: #efefef;
	color: #222;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-left: 20px;
}
input[type=submit]
{
	width: 150px;
	background-color: #550055;
	color: lightgray;
	font-size: 15px;
	padding: 7px 5px;
	border: 2px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-left: 20px;
}
#wynik
{
	width: 600px;
	min-height: 30px;
	font-size: 20px;
	margin: 15px;
	text-align: center;
}